# Core LLM + Transformers + Quantization
torch
torchvision
transformers
accelerate
bitsandbytes

# LangChain + Extensions + Vector Store
langchain_huggingface
langchain_chroma
langchain
langchain-community
chromadb
# Retrieval & Ingestion
duckduckgo-search
pypdf
# Sentence Embeddings
sentence-transformers

# NLP
spacy

# Frontend / UI
gradio


